# [dbo].[Animals]

In [0]:
USE [Zoo_Sanin_Polupan]
GO

In [0]:
/****** Object:  Table [dbo].[Animals]    Script Date: 25.10.2023 12:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animals](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SpiciesID] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[GenderID] [int] NOT NULL,
	[HabitatID] [int] NOT NULL,
	[FeedsID] [int] NOT NULL,
 CONSTRAINT [PK_Animals] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Feeds]

In [0]:
/****** Object:  Table [dbo].[Feeds]    Script Date: 25.10.2023 12:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feeds](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Feeds] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Gender]

In [0]:
/****** Object:  Table [dbo].[Gender]    Script Date: 25.10.2023 12:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Habitats]

In [0]:
/****** Object:  Table [dbo].[Habitats]    Script Date: 25.10.2023 12:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitats](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Habitats_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Habitats_Staff]

In [0]:
/****** Object:  Table [dbo].[Habitats_Staff]    Script Date: 25.10.2023 12:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitats_Staff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HabitatsID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
 CONSTRAINT [PK_Habitats_Staff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Position]

In [0]:
/****** Object:  Table [dbo].[Position]    Script Date: 25.10.2023 12:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Species]

In [0]:
/****** Object:  Table [dbo].[Species]    Script Date: 25.10.2023 12:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Species](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Species] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Staff]

In [0]:
/****** Object:  Table [dbo].[Staff]    Script Date: 25.10.2023 12:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
	[BirthDay] [date] NOT NULL,
	[Phone] [nchar](12) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PositionID] [int] NOT NULL,
	[GenderID] [int] NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Time_Feeds]

In [0]:
/****** Object:  Table [dbo].[Time_Feeds]    Script Date: 25.10.2023 12:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time_Feeds](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Time] [time](7) NOT NULL,
	[FeedID] [int] NOT NULL,
	[HabitatsID] [int] NOT NULL,
 CONSTRAINT [PK_Time_Feeds] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Animals]

In [0]:
SET IDENTITY_INSERT [dbo].[Animals] ON 
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (2, N'Симба', 1, 5, 1, 1, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (3, N'Шерхан', 2, 8, 1, 2, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (4, N'Дамбо', 3, 3, 1, 3, 5)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (5, N'Маугли', 2, 2, 1, 2, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (6, N'Рафики', 1, 7, 1, 1, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (7, N'Элли', 3, 6, 2, 3, 5)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (8, N'Нала', 1, 4, 2, 1, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (9, N'Шанта', 2, 5, 2, 2, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (10, N'Бабар', 3, 9, 1, 3, 5)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (11, N'Сава', 1, 2, 2, 1, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (12, N'Мелман', 4, 6, 1, 4, 3)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (13, N'Миа', 5, 4, 2, 5, 4)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (14, N'Багира', 5, 3, 1, 5, 4)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (15, N'Зевс', 1, 9, 1, 4, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (16, N'Флора', 3, 5, 2, 5, 5)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (17, N'Жасмин', 2, 6, 2, 4, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (18, N'Гомер', 4, 7, 1, 4, 3)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (19, N'Лео', 1, 3, 1, 4, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (20, N'Луна', 2, 4, 2, 5, 1)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (21, N'Дама', 3, 8, 2, 5, 5)
INSERT [dbo].[Animals] ([ID], [Name], [SpiciesID], [Age], [GenderID], [HabitatID], [FeedsID]) VALUES (22, N'Володя', 19, 3, 2, 3, 2)
SET IDENTITY_INSERT [dbo].[Animals] OFF
GO

# [dbo].[Feeds]

In [0]:
SET IDENTITY_INSERT [dbo].[Feeds] ON 
INSERT [dbo].[Feeds] ([ID], [Type]) VALUES (1, N'Мясо')
INSERT [dbo].[Feeds] ([ID], [Type]) VALUES (2, N'Рыба')
INSERT [dbo].[Feeds] ([ID], [Type]) VALUES (3, N'Сено')
INSERT [dbo].[Feeds] ([ID], [Type]) VALUES (4, N'Бамбук')
INSERT [dbo].[Feeds] ([ID], [Type]) VALUES (5, N'Фрукты')
SET IDENTITY_INSERT [dbo].[Feeds] OFF
GO

# [dbo].[Gender]

In [0]:
SET IDENTITY_INSERT [dbo].[Gender] ON 
INSERT [dbo].[Gender] ([ID], [Titel]) VALUES (1, N'Мужской')
INSERT [dbo].[Gender] ([ID], [Titel]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO

# [dbo].[Habitats]

In [0]:
SET IDENTITY_INSERT [dbo].[Habitats] ON 
INSERT [dbo].[Habitats] ([ID], [Name], [Type]) VALUES (1, N'Африканская саванна', N'Открытый вольер')
INSERT [dbo].[Habitats] ([ID], [Name], [Type]) VALUES (2, N'Лесной вольер', N'Закрытый вольер')
INSERT [dbo].[Habitats] ([ID], [Name], [Type]) VALUES (3, N'Экваториальный лес', N'Открытый вольер')
INSERT [dbo].[Habitats] ([ID], [Name], [Type]) VALUES (4, N'Саванна', N'Открытый вольер')
INSERT [dbo].[Habitats] ([ID], [Name], [Type]) VALUES (5, N'Горный вольер', N'Закрытый вольер')
INSERT [dbo].[Habitats] ([ID], [Name], [Type]) VALUES (6, N'Атлантический', N'Закрытый вольер')
INSERT [dbo].[Habitats] ([ID], [Name], [Type]) VALUES (7, N'Атлантический', N'Закрытый вольер')
SET IDENTITY_INSERT [dbo].[Habitats] OFF
GO

# [dbo].[Habitats_Staff]

In [0]:
SET IDENTITY_INSERT [dbo].[Habitats_Staff] ON 
INSERT [dbo].[Habitats_Staff] ([ID], [HabitatsID], [StaffID]) VALUES (1, 1, 1)
INSERT [dbo].[Habitats_Staff] ([ID], [HabitatsID], [StaffID]) VALUES (2, 2, 2)
INSERT [dbo].[Habitats_Staff] ([ID], [HabitatsID], [StaffID]) VALUES (3, 3, 3)
INSERT [dbo].[Habitats_Staff] ([ID], [HabitatsID], [StaffID]) VALUES (4, 4, 4)
INSERT [dbo].[Habitats_Staff] ([ID], [HabitatsID], [StaffID]) VALUES (5, 5, 5)
SET IDENTITY_INSERT [dbo].[Habitats_Staff] OFF
GO

# [dbo].[Position]

In [0]:
SET IDENTITY_INSERT [dbo].[Position] ON 
INSERT [dbo].[Position] ([ID], [Title]) VALUES (1, N'Ветеринар')
INSERT [dbo].[Position] ([ID], [Title]) VALUES (2, N'Кормильщик')
INSERT [dbo].[Position] ([ID], [Title]) VALUES (3, N'Зоолог')
INSERT [dbo].[Position] ([ID], [Title]) VALUES (4, N'Охранник')
INSERT [dbo].[Position] ([ID], [Title]) VALUES (5, N'Директор')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO

# [dbo].[Species]

In [0]:
SET IDENTITY_INSERT [dbo].[Species] ON 
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (1, N'Лев', N'Крупное хищное млекопитающее семейства кошачьих.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (2, N'Тигр', N'Крупное хищное млекопитающее семейства кошачьих.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (3, N'Слон', N'Крупное травоядное млекопитающее семейства слоновых.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (4, N'Жираф', N'Крупное травоядное млекопитающее с длинной шеей.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (5, N'Панда', N'Крупное млекопитающее семейства медвежьих, известное своим черно-белым мехом.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (6, N'Медведь', N'Крупное хищное млекопитающее.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (7, N'Змея', N'Бесногое хладнокровное позвоночное, известное своей способностью ползать по земле.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (8, N'Рыба', N'Холоднокровное водное животное с чешуей, обычно обитающее в водоемах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (9, N'Крокодил', N'Крупное хладнокровное рептилия с длинным плоским черепом и длинным хвостом.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (10, N'Коала', N'Млекопитающее саккозов из семейства коаловых, обитающее в основном в Австралии.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (11, N'Кенгуру', N'Сумчатое травоядное млекопитающее, известное своей способностью прыгать на задних лапах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (12, N'Пингвин', N'Полетное бескрылое водоплавающее птица, обитающая в основном на южном полушарии.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (13, N'Волк', N'Хищное млекопитающее семейства псовых, обитающее в основном в лесах и степных регионах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (14, N'Белка', N'Мелкое грызунное, обитающее в основном в лесах и горных регионах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (15, N'Лисица', N'Хищное млекопитающее семейства псовых, обитающее в основном в лесах и полях.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (16, N'Олень', N'Крупное травоядное млекопитающее, известное своими разветвленными рогами.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (17, N'Заяц', N'Мелкое травоядное млекопитающее, обитающее в основном в лесах и полях.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (18, N'Бобер', N'Крупный грызун с плоским хвостом, обитающий в основном в водоемах и лесах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (19, N'Тюлень', N'Морское млекопитающее из семейства ушастых, обитающее в основном в холодных морских водах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (20, N'Кит', N'Крупное морское млекопитающее, обитающее в основном в открытых морских пространствах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (21, N'Дельфин', N'Млекопитающее из отряда китообразных, обитающее в основном в морских водах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (22, N'Морж', N'Крупное морское млекопитающее с длинными бивнями, обитающее в основном в холодных морских водах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (23, N'Лемур', N'Млекопитающее, характеризующееся большими глазами и длинным хвостом, обитающее в основном на Мадагаскаре.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (24, N'Муравьед', N'Животное с длинным плоским рылом, питающееся преимущественно муравьями и термитами.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (25, N'Норка', N'Хищное млекопитающее семейства куньих, обитающее в основном в водоемах и влажных лесах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (26, N'Осел', N'Тяжелое травоядное млекопитающее, используемое человеком в основном для тягловой работы.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (27, N'Пума', N'Крупное хищное млекопитающее семейства кошачьих, обитающее в основном в горных регионах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (28, N'Слоновая сурок', N'Крупное грызунное, обитающее в основном в сухих районах и пустынях.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (29, N'Тукан', N'Птица с крупным красочным клювом, обитающая в тропических лесах Центральной и Южной Америки.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (30, N'Уж', N'Ядовитая змея, обитающая в основном в водоемах и болотах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (31, N'Фенек', N'Маленькая лисица с большими ушами, обитающая в пустынях Северной Африки и Аравии.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (32, N'Хорёк', N'Мелкое млекопитающее семейства грызунов, известное своей способностью копаться в земле.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (33, N'Цесарка', N'Вид маленьких птиц, обитающих в тропических лесах Южной Америки, известных своими яркими окрасками.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (34, N'Черепаха', N'Рептилия с панцирем, обитающая в основном в водоемах и сухих регионах по всему миру.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (35, N'Шимпанзе', N'Вид обезьян из семейства гоминид, обладающий развитым интеллектом и способностью использовать инструменты.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (36, N'Эму', N'Крупная птица, обитающая в основном в Австралии, известная своим длинным шея и быстрым бегом.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (37, N'Южноамериканский лось', N'Крупное травоядное млекопитающее, обитающее в основном в лесных и горных районах Южной Америки.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (38, N'Ягуар', N'Крупное хищное млекопитающее семейства кошачьих, обитающее в основном в лесных и джунглевых регионах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (39, N'Зебра', N'Крупное травоядное млекопитающее с черно-белой окраской, обитающее в основном на саваннах Африки.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (40, N'Антилопа', N'Газель подобное травоядное млекопитающее, обитающее в основном в степных и саванных регионах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (41, N'Бобр', N'Крупный грызун с плоским хвостом, обитающий в основном в водоемах и лесах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (42, N'Гиппопотам', N'Крупное травоядное млекопитающее с толстой кожей, обитающее в основном в водоемах и болотах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (43, N'Енот', N'Млекопитающее семейства хищных, обитающее в основном в лесных и горных районах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (44, N'Жаба', N'Бесхвостое амфибио, обитающее в основном в водоемах и влажных лесах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (45, N'Зубр', N'Крупное травоядное млекопитающее, обитающее в основном в лесных и горных районах.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (46, N'Индюк', N'Птица семейства фазановых, разводимая в основном для мяса и перьев.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (47, N'Крыса', N'Мелкое грызунное, обитающее в основном в городах и деревнях.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (48, N'Анаконда', N'Большая удавчик, обитающая в тропических лесах Южной Америки.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (49, N'Баран', N'Травоядное млекопитающее семейства полорогих, разводимое в основном для шерсти и мяса.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (50, N'Вомбат', N'Крупное травоядное млекопитающее, обитающее в основном в Австралии, известное своим сильным когтями.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (51, N'Горилла', N'Крупное травоядное млекопитающее, обитающее в основном в тропических лесах Африки.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (52, N'Дикобраз', N'Животное с шипастым покровом, защищающим его от хищников.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (53, N'Енотовидная собака', N'Млекопитающее семейства енотовых, обитающее в основном в лесах и полях.')
INSERT [dbo].[Species] ([ID], [Name], [Description]) VALUES (54, N'Индейка', N'Птица семейства фазановых, разводимая в основном для мяса и перьев.')
SET IDENTITY_INSERT [dbo].[Species] OFF
GO

# [dbo].[Staff]

In [0]:
SET IDENTITY_INSERT [dbo].[Staff] ON 
INSERT [dbo].[Staff] ([ID], [FIO], [Salary], [BirthDay], [Phone], [Email], [PositionID], [GenderID], [Login], [Password]) VALUES (1, N'Иванов И.И.', CAST(60000.00 AS Decimal(10, 2)), CAST(N'1985-05-20' AS Date), N'123-456-7890', N'ivanov@example.com', 1, 1, N'1', N'1')
INSERT [dbo].[Staff] ([ID], [FIO], [Salary], [BirthDay], [Phone], [Email], [PositionID], [GenderID], [Login], [Password]) VALUES (2, N'Петрова Ю.Р.', CAST(40000.00 AS Decimal(10, 2)), CAST(N'1990-12-03' AS Date), N'987-654-3210', N'petrova@example.com', 2, 2, N'2', N'2')
INSERT [dbo].[Staff] ([ID], [FIO], [Salary], [BirthDay], [Phone], [Email], [PositionID], [GenderID], [Login], [Password]) VALUES (3, N'Сидорова Э.А.', CAST(55000.00 AS Decimal(10, 2)), CAST(N'1988-08-15' AS Date), N'111-222-3333', N'sidorova@example.com', 3, 2, N'3', N'3')
INSERT [dbo].[Staff] ([ID], [FIO], [Salary], [BirthDay], [Phone], [Email], [PositionID], [GenderID], [Login], [Password]) VALUES (4, N'Козлов A.A.', CAST(38000.00 AS Decimal(10, 2)), CAST(N'1992-04-27' AS Date), N'444-555-6666', N'kozlov@example.com', 4, 1, N'4', N'4')
INSERT [dbo].[Staff] ([ID], [FIO], [Salary], [BirthDay], [Phone], [Email], [PositionID], [GenderID], [Login], [Password]) VALUES (5, N'Полупан В.М.', CAST(100000.00 AS Decimal(10, 2)), CAST(N'1994-02-05' AS Date), N'589-123-3456', N'sokolov@example.com', 5, 1, N'5', N'5')
INSERT [dbo].[Staff] ([ID], [FIO], [Salary], [BirthDay], [Phone], [Email], [PositionID], [GenderID], [Login], [Password]) VALUES (6, N'ФИО', CAST(1.00 AS Decimal(10, 2)), CAST(N'2023-09-28' AS Date), N'Телефон     ', N'Почта', 1, 1, N'Логин', N'Пароль')
INSERT [dbo].[Staff] ([ID], [FIO], [Salary], [BirthDay], [Phone], [Email], [PositionID], [GenderID], [Login], [Password]) VALUES (7, N'Санин Р.П.', CAST(1000000.00 AS Decimal(10, 2)), CAST(N'2004-06-22' AS Date), N'111-222-339 ', N'de@ya.rr', 5, 1, N'12', N'12')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO

# [dbo].[Time_Feeds]

In [0]:
SET IDENTITY_INSERT [dbo].[Time_Feeds] ON 
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (1, CAST(N'08:00:00' AS Time), 1, 1)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (2, CAST(N'10:00:00' AS Time), 3, 1)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (4, CAST(N'12:00:00' AS Time), 2, 1)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (5, CAST(N'13:00:00' AS Time), 5, 1)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (6, CAST(N'15:00:00' AS Time), 1, 1)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (7, CAST(N'17:00:00' AS Time), 3, 1)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (8, CAST(N'20:00:00' AS Time), 5, 1)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (9, CAST(N'22:00:00' AS Time), 2, 1)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (10, CAST(N'08:00:00' AS Time), 1, 2)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (11, CAST(N'10:00:00' AS Time), 3, 2)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (12, CAST(N'12:00:00' AS Time), 2, 2)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (13, CAST(N'13:00:00' AS Time), 5, 2)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (14, CAST(N'15:00:00' AS Time), 1, 2)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (15, CAST(N'17:00:00' AS Time), 3, 2)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (16, CAST(N'20:00:00' AS Time), 5, 2)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (17, CAST(N'22:00:00' AS Time), 2, 2)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (18, CAST(N'08:00:00' AS Time), 1, 3)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (19, CAST(N'10:00:00' AS Time), 3, 3)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (20, CAST(N'12:00:00' AS Time), 2, 3)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (21, CAST(N'13:00:00' AS Time), 5, 3)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (22, CAST(N'15:00:00' AS Time), 1, 3)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (23, CAST(N'17:00:00' AS Time), 3, 3)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (24, CAST(N'20:00:00' AS Time), 5, 3)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (25, CAST(N'22:00:00' AS Time), 2, 3)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (26, CAST(N'08:00:00' AS Time), 1, 4)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (27, CAST(N'10:00:00' AS Time), 3, 4)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (28, CAST(N'12:00:00' AS Time), 2, 4)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (29, CAST(N'13:00:00' AS Time), 5, 4)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (30, CAST(N'15:00:00' AS Time), 1, 4)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (31, CAST(N'17:00:00' AS Time), 3, 4)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (32, CAST(N'20:00:00' AS Time), 5, 4)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (33, CAST(N'22:00:00' AS Time), 2, 4)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (34, CAST(N'08:00:00' AS Time), 1, 5)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (35, CAST(N'10:00:00' AS Time), 3, 5)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (36, CAST(N'12:00:00' AS Time), 2, 5)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (37, CAST(N'13:00:00' AS Time), 4, 5)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (38, CAST(N'15:00:00' AS Time), 1, 5)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (39, CAST(N'17:00:00' AS Time), 3, 5)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (40, CAST(N'20:00:00' AS Time), 4, 5)
INSERT [dbo].[Time_Feeds] ([ID], [Time], [FeedID], [HabitatsID]) VALUES (41, CAST(N'22:00:00' AS Time), 2, 5)
SET IDENTITY_INSERT [dbo].[Time_Feeds] OFF
GO

# [FK_Animals_Feeds]

In [0]:
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Feeds] FOREIGN KEY([FeedsID])
REFERENCES [dbo].[Feeds] ([ID])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Feeds]
GO

# [FK_Animals_Gender]

In [0]:
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Gender]
GO

# [FK_Animals_Habitats]

In [0]:
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Habitats] FOREIGN KEY([HabitatID])
REFERENCES [dbo].[Habitats] ([ID])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Habitats]
GO

# [FK_Animals_Species]

In [0]:
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Species] FOREIGN KEY([SpiciesID])
REFERENCES [dbo].[Species] ([ID])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Species]
GO

# [FK_Habitats_Staff_Habitats]

In [0]:
ALTER TABLE [dbo].[Habitats_Staff]  WITH CHECK ADD  CONSTRAINT [FK_Habitats_Staff_Habitats] FOREIGN KEY([HabitatsID])
REFERENCES [dbo].[Habitats] ([ID])
GO
ALTER TABLE [dbo].[Habitats_Staff] CHECK CONSTRAINT [FK_Habitats_Staff_Habitats]
GO

# [FK_Habitats_Staff_Staff]

In [0]:
ALTER TABLE [dbo].[Habitats_Staff]  WITH CHECK ADD  CONSTRAINT [FK_Habitats_Staff_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([ID])
GO
ALTER TABLE [dbo].[Habitats_Staff] CHECK CONSTRAINT [FK_Habitats_Staff_Staff]
GO

# [FK_Staff_Gender]

In [0]:
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Gender]
GO

# [FK_Staff_Position]

In [0]:
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Position] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Position] ([ID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Position]
GO

# [FK_Time_Feeds_Feeds]

In [0]:
ALTER TABLE [dbo].[Time_Feeds]  WITH CHECK ADD  CONSTRAINT [FK_Time_Feeds_Feeds] FOREIGN KEY([FeedID])
REFERENCES [dbo].[Feeds] ([ID])
GO
ALTER TABLE [dbo].[Time_Feeds] CHECK CONSTRAINT [FK_Time_Feeds_Feeds]
GO

# [FK_Time_Feeds_Habitats]

In [0]:
ALTER TABLE [dbo].[Time_Feeds]  WITH CHECK ADD  CONSTRAINT [FK_Time_Feeds_Habitats] FOREIGN KEY([FeedID])
REFERENCES [dbo].[Habitats] ([ID])
GO
ALTER TABLE [dbo].[Time_Feeds] CHECK CONSTRAINT [FK_Time_Feeds_Habitats]
GO